if SHIELD_CARBON_LEFT
config ZMK_KEYBOARD_NAME
    default "carbon"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_CARBON_LEFT || SHIELD_CARBON_RIGHT
config ZMK_SPLIT
    default y
endif